language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
gemfile:
  - Gemfile.rails3
  - Gemfile.rails4
script:
  - bundle exec rake db:reset
  - bundle exec rake
  - bundle exec gem build user_impersonate2.gemspec

